@charset "UTF-8";

div.header {
    height: 50px;
    background-color:lightpink;
    padding-bottom: 10px;
}

.footer {
    height: 50px;
    background-color:lightgreen;
    padding-bottom: 10px;
}

.between {
    height: 550px;
    background-color:lemonchiffon;
    padding-bottom: 68px;
}

.calcborder {
    border: 2px;
    border-style: solid;
    height : 500px;
    width : 600px;
    margin-top:40px;
}

.display-screen {
    border: 2px;
    border-style: solid;
    width : 440px;
    height : 45px;
    float: left;
    margin-top:20px;
    margin-right: 105px;
    margin-left: 20px;
}

.delete-button {
    border: 2px;
    border-style: solid;
    width : 100px;
    height : 45px;
    float: right;
    margin-top : -49px;
    margin-left: 105px;
    margin-right: 15px;
}

.numberpad {
    border: 2px;
    border-style: solid;
    height : 320px;
    width : 400px;
    float: left;
    margin-top : 15px;
    margin-right: 115px;
    margin-left: 25px;
    padding-top:70px;
}

.operatorpad {
    border: 2px;
    border-style: solid;
    height : 390px;
    width : 100px;
    float: right;
    margin-top : -394px;
    margin-left: 105px;
    margin-right: 15px;
    padding-left: 35px;
}

.numberpad div {
    border: 2px;
    border-style: solid;
    height: 75px;
    width: 100px;
    text-align: center;
}

#number1 {
    float:left;
    margin-left:20px;
    margin-top:-30px;
}

#number2 {
    margin-top:-30px;
    margin-bottom:40px;
} 

#number3 {
    float:right;
    margin-top:-119px;
    margin-right:20px;
    margin-bottom:40px;
}

#number4 {
    float:left;
    margin-left:20px;
    margin-top:-10px;
}

#number5 {
    margin-top: -10px;
    margin-bottom:40px;
}

#number6 {
    float:right;
    margin-top:-120px;
    margin-right:20px;
    margin-bottom:40px;
}

#number7 {
    float:left;
    margin-left:20px;
    margin-top:0px;
}

#number8 {
    
} 

#number9 {
    float:right;
    margin-top:-80px;
    margin-right:20px;
    margin-bottom:40px;
}

.operatorpad div {
    border: 2px;
    border-style: solid;
    height: 50px;
    width: 100px;
    margin-top:10px;
    margin-right: 10px;
    margin-left:-25px;
    padding-right: 5px;
}

#operator+ {
    margin-top:10px;
}
