@charset "UTF-8"
/* CSS Document */

h2 {
	color: red;
	font-style: cursive;
	font-size: 28px;
}

div.header{
	background-color: #34A847;
	height: auto;
}

div.footer{
	background-color: black;
	height: auto;
}
